/* 웹 폰트 설정 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

:root {
    --color-main: #0f4c81;
    --color-sub: #dadfe9;
    --color-black: #282308;
}

* {
    font-family: 'Noto Sans KR', sans-serif;
    /*color:var(--color-black);*/
    box-sizing: border-box;
}
h1, h2, h3, .text_logo {
    font-family: 'Nanum Brush Script', cursive;
    text-shadow: 3px 2px 3px rgba(0, 0, 0, 0.4);
}

.is-sparta {
    color: var(--color-main) !important;
}

.button.is-sparta {
    background-color: var(--color-main);
    border-color: transparent;
    color: #fff !important;
}

.button.is-sparta.is-outlined {
    background-color: transparent;
    border-color: var(--color-main);
    color: var(--color-main) !important;
}